body{
    font-family: 'Gajraj One', cursive;
    background-color: rgba(127, 255, 212, 0.296);
}
#title{
    font-size: 100px;
    text-align:center;
}
#main{
    background-color: rgba(179, 241, 175, 0.626);
    margin-top: 0px;
    width: 100%;
    height: 700px;
}
.form-floating{
    opacity: 0.5;
}
.set{
    margin-left: 10px;
    width: 100px;
    height: 100px;
}
